.body{
    background-color: rgb(246, 223, 168);
    border: solid rgb(90, 11, 11);
    border-radius: 20px;
}
 .header1{
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    color: rgb(90, 11, 11);
    font-family: Bebas Neue;
 }

.subtitle {
    color: rgb(3, 46, 33);
    font-family: Bebas Neue;
    text-align: center;
    font: 1rem 'Fira Sans', sans-serif;
    font-size: larger;
}

.date{
    text-align: center;
    vertical-align: middle;
}
.flexbox-container1{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.flexbox-container1 div
{   
    border: 2px solid rgb(11, 124, 100);
    margin: auto;
    padding: 10px;
}
